[Desktop Entry]
Comment=Music Player
Terminal=false
Name=cmus
GenericName=Music Player Text User Interface
Exec=foot --app-id=cmus cmus
Type=Application
Icon=/usr/share/icons/suru/apps/256/music-app.png
